{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <form action="{% url 'generateqr:generateQr' %}" method="post">
      {% csrf_token %}
      <div class="col-sm-10">
        <input type="text" name="qr" class="form-control-plaintext">
        <input type="text" name="start_" class="form-control-plaintext">
        <input type="text" name="end_" class="form-control-plaintext">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Generate QR</button>
    </form>
  </div>
  <div class="col-md-12">
    <small class="text-muted">
        <a class="md-2" href="{% url 'categoryForm' %}">Add Category</a>
        <a class="md-2" href="{% url 'MenuForm' %}">Add Menu Items</a>
    </small>
  </div>
</div>


    <!-- <img src="{{img}}" alt="image"> -->

{% endblock %}
